@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;300&display=swap');

$font-title: 'Roboto Mono', monospace;
$font-body: 'Roboto', sans-serif;

$color-pink-one: #FF99CC;
$color-pink-two: #F77FBE;
$color-grey: #4C454C;
